a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

p, h1, h2, h3, h4 {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
}

body {
  background: #ffffff;
  font-family: "Montserrat";
}

::-webkit-scrollbar {
  width: 5px;
  background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #ff5000 0%, #ff5000 100%);
}

::-moz-selection {
  background-color: gray;
  color: white;
}

::selection {
  background-color: gray;
  color: white;
}

.container {
  max-width: 1250px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    padding: 0 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.header__box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(255, 255, 255);
}
.header__logo {
  width: 150px;
}
.header__list {
  display: flex;
  align-items: center;
  gap: 45px;
  margin-left: 130px;
  display: none;
}
@media screen and (min-width: 1280px) {
  .header__list {
    display: flex;
  }
}
.header__links {
  color: #ff5000;
}
.header__wrap {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header__button {
  background-color: transparent;
  color: #ff5000;
  border: none;
  font-weight: 700;
  display: none;
}
@media screen and (min-width: 1280px) {
  .header__button {
    display: block;
  }
}
.header__text {
  margin-left: 60px;
}
.header__but {
  width: 122px;
  font-size: 14px;
  padding: 10px 20px;
  display: block;
  cursor: pointer;
  text-align: center;
  background-color: #ff5000;
  border-radius: 80px;
  line-height: 24px;
  color: #fff;
  font-weight: 700;
  outline: 0;
  border: 2px solid #ff5000;
  display: none;
}
@media screen and (min-width: 1280px) {
  .header__but {
    display: block;
  }
}
.header__buttons {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: block;
}
@media screen and (min-width: 768px) {
  .header__buttons {
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .header__buttons {
    display: none;
  }
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/electric.jpg);
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgb(0, 0, 0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.hero__title {
  font-weight: 900;
  max-width: 800px;
  width: 100%;
  font-size: 28px;
  line-height: 1.6;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 52px;
  }
}
.hero__text {
  color: #fff;
  font-size: 24px;
  line-height: 1.2;
  border: 1px solid #fff;
  border-radius: 11px;
  padding: 5px 35px;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .hero__text {
    font-size: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__text {
    font-size: 36px;
  }
}
.hero__box {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 17px 24px 22px;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 32px;
  border-left: 4px solid #ff5000;
  border-right: 4px solid #ff5000;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .hero__box {
    font-size: 23px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__box {
    width: 490px;
  }
}
.hero__desc {
  color: #fff;
  margin-bottom: 20px;
  width: 100%;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .hero__desc {
    font-size: 23px;
  }
}
.hero__list {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}
.hero__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hero__item {
    width: 210px;
  }
}
.hero__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 400;
  gap: 10px;
  height: 40px;
  width: 100%;
  background: #665cac;
  transform: scale(1);
  transition: transform 0.3s ease;
}
@media screen and (min-width: 768px) {
  .hero__link {
    width: 210px;
    gap: 19px;
  }
}
.hero__link:hover {
  transform: scale(0.9);
}
.hero .hero__list li:last-child .hero__link {
  background: #25a3e1;
}
.hero__img {
  width: 28px;
  height: 28px;
}

.law {
  background: #1E252B;
  padding-top: 80px;
  padding-bottom: 120px;
}
.law__img {
  width: 80px;
  border-radius: 50%;
}
.law__imgg {
  width: 80px;
  border-radius: 50%;
  border: 5px solid grey;
}
.law__list {
  display: block;
}
@media screen and (min-width: 1280px) {
  .law__list {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}
.law .law__list .law__item:nth-child(2) {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1280px) {
  .law .law__list .law__item:nth-child(2) {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
.law .law__list .law__item:nth-child(2):hover {
  margin-top: -10px;
}
.law__title {
  margin-top: 15px;
  margin-bottom: 16px;
  color: rgba(255, 255, 255, 0.78);
}
.law__pishka {
  color: rgba(255, 255, 255, 0.78);
}
.law__span {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.78);
}
.law__hed {
  margin-top: 20px;
  margin-bottom: 20px;
}
.law__tetring {
  margin-top: 20px;
}
.law__item {
  width: 100%;
  border-radius: 24px;
  padding: 25px;
  background: #1E252B;
  box-shadow: 0px 8px 30px 0px rgba(255, 255, 255, 0.1);
  transition: margin-top 0.4s ease;
  border: 2px solid transparent;
  background-image: none;
}
@media screen and (min-width: 1280px) {
  .law__item {
    width: 393px;
  }
}
.law__item:hover {
  border-radius: 24px;
  background: rgba(40, 47, 53, 0.6);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  background-image: url(../../img/maskgroup.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin-top: -10px;
}
.law__boxing {
  display: flex;
  align-items: center;
  gap: 70px;
  margin-left: auto;
  margin-right: auto;
}
.law__worry {
  color: #FFA537;
  font-family: "Poppins" sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.law__but {
  font-size: 20px;
  line-height: 30px;
  display: flex;
  color: #fff;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  background: #ff5000;
  border-radius: 48px;
  padding: 6px 32px;
}
.law__wrap {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.footer {
  background-color: #000;
  border-top: 8px solid #ff5000;
  padding-bottom: 20px;
  padding-top: 53px;
}
.footer__wraps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer__box {
  width: 200px;
  margin-right: 0px;
}
@media screen and (min-width: 480px) {
  .footer__box {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__box {
    margin-right: 160px;
  }
}
.footer__img {
  width: 200px;
}
.footer__text {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 25px;
}
@media screen and (min-width: 1280px) {
  .footer__text {
    margin-bottom: 66px;
  }
}
.footer__texts {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 45px;
}
.footer__hiden {
  display: none;
}
@media screen and (min-width: 480px) {
  .footer__hiden {
    display: block;
  }
}
.footer__list {
  display: flex;
  gap: 17px;
  align-items: center;
}
.footer__imgs {
  width: 18px;
  height: 18px;
}
.footer .footer__list li:nth-child(2) .footer__imgs {
  width: 10px;
  height: 16px;
}
.footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #fff;
  width: 34px;
  height: 34px;
}
.footer__page {
  font-size: 16px;
  line-height: 1.1;
  color: #ff5000;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: Gilroy, sans-serif;
}
.footer__textings {
  color: #fff;
  margin-top: 15px;
  font-size: 14px;
}
@media screen and (min-width: 1280px) {
  .footer__textings {
    font-size: 16px;
  }
}
.footer .footer__lis:nth-of-type(3) {
  margin-left: 42px;
  margin-right: 42px;
}
.footer .footer__lis:nth-of-type(4) {
  text-align: right;
}
.footer__bog {
  display: flex;
  gap: 20px;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  .footer__bog {
    gap: 40px;
  }
}
.footer .footer__bog:nth-of-type(2) {
  margin-left: auto;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .footer .footer__bog:nth-of-type(2) {
    margin-left: 170px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .footer .footer__bog:nth-of-type(2) {
    margin-left: 40px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .footer .footer__bog:nth-of-type(2) {
    margin-left: 40px;
    margin-top: 0px;
  }
}/*# sourceMappingURL=main.css.map */